<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= current_page.data.title || "Maelstromify" %></title>
    <%= stylesheet_link_tag :site, relative: true %>
    <%= stylesheet_link_tag 'swipebox', relative: true %>
  </head>

  <body>
    <%= yield %>
  </body>

  <%= javascript_include_tag :jquery, relative: true %>
  <%= javascript_include_tag 'jquery.swipebox', relative: true %>
  <%= javascript_include_tag :all, relative: true %>
</html>
